<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My recipes</title>
    <!-- Bootstrap core CSS -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">

</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">My recipes</h1>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive" th:if="${not #lists.isEmpty(recipes)}">
                            <table class="table table-bordered table-success table-hover">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th>ID</th>
                                        <th>Image</th>
                                        <th>Description</th>
                                        <th>Prep time</th>
                                        <th>Cook time</th>
                                        <th>Servings</th>
                                        <th>Source</th>
                                        <th>Url</th>
                                        <th>Categories</th>
                                        <th>Ingredients</th>
                                        <td>View</td>
                                        <td>Update</td>
                                        <td>Update Image</td>
                                        <td>Delete</td>
                                    </tr>
                                </thead>
                                <tr th:each="recipe: ${recipes}">
                                    <td th:text="${recipe.id}">123</td>
                                    <td><img class="card-img-top" th:src="@{'recipe/image/' + ${recipe.id}}"></td>
                                    <td th:text="${recipe.description}">description</td>
                                    <td th:text="${recipe.prepTime}">prepTime</td>
                                    <td th:text="${recipe.cookTime}">cookTime</td>
                                    <td th:text="${recipe.servings}">servings</td>
                                    <td th:text="${recipe.source}">source</td>
                                    <td th:text="${recipe.url}">url</td>
                                    <td>
                                        <p th:each="category: ${recipe.categories}" th:text="${category.categoryName}">category</p>
                                    </td>
                                    <td><a href="#" th:href="@{'/recipe/'  + ${recipe.id} +'/ingredients'}">View ingredients</a></td>
                                    <td><a href="#" th:href="@{'/recipe/'  + ${recipe.id} +'/show'}">View</a></td>
                                    <td><a href="#" th:href="@{'/recipe/'  + ${recipe.id} +'/update'}">Update</a></td>
                                    <td><a href="#" th:href="@{'/recipe/'  + ${recipe.id} +'/update/image/form'}">Update image</a></td>
                                    <td><a href="#" th:href="@{'/recipe/'  + ${recipe.id} +'/delete'}">Delete</a></td>
                                </tr>
                            </table>

                        </div>

                        <div>
                            <a class="link-success" th:href="'/recipe/create/new'">Create new recipe</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>